.container {
    padding: 30px;
}

#clasificacion {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #dde7fc;
    border: 2px solid #000;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

#addComponente{
    background-color: #b2beff;
    border-color: #b2beff;
    color: black;
}