#tablaComponentes{
    background-color: #edf2fb;
}

a{
    margin: 10px;
}

#crearComponenteNuevo{
    background-color: #b2beff;
    border-color: #b2beff;
    color: black;
    margin: 10px;
    margin-left: 45%;
    padding: 15px;
}

body{
    background-color: #edf2fb;
}