.card {
    margin-bottom: 1rem;
    background-color: #dde7fc;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-secondary {
    margin-left: auto;
}

.btn{
    background-color: #b2beff;
    border-color: #b2beff;
    color: black;
}

body{
    background-color: #edf2fb;
}